extends ../layouts/main_layout.pug

block styles 

    link(rel="stylesheet" href="/css/forms.css")


block content
    if successMessage 
        div.alert.alert-success.col-sm-7 #{successMessage}  
    if errorMessage 
        div.alert.alert-danger.col-sm-7 #{errorMessage}             
    if errorMessagePw 
        div.alert.alert-danger.col-sm-7 #{errorMessagePw}             
    form(action="/new-password" method="POST")
        input(type="hidden" name="_csrf" value=`${csrfToken}`)
        input(type="hidden" name="token" value=`${token}`)
        input(type="hidden" name="userId" value=`${userId}`)
        input(type="hidden" name="passwordToken" value=`${passwordToken}`)

        .form-group.row
            label(for="password").col-sm-2.col-form-label  New Password
            .col-sm-5.pr-0
                input.form-control#password(type="password"  name="password" required)        
        .form-group.row
            label(for="password").col-sm-2.col-form-label  Again New Password
            .col-sm-5.pr-0
                input.form-control#password(type="password"  name="password2" required)        
        
        .form-group.row
            .col-sm-5.offset-sm-2
                input(type="submit" value="Save New Password").btn.btn-primary
        